<html>
 
<style>
body {
        background: url("assets/1.jpg")
         top center / 1200px 1000px
         black;
        no-repeat;
} 
</style>
<head>
<title >Malayalam alphabet, pronunciation and language</title>
</head>            

<center><h1 id="home">EASY MALAYALAM LEARNING
</h1>

 <center><h2> STEP 1</h2>
<a class="button" href="/mweb.html">Learning Letters</a>
<center><h2> STEP 2</h2>
<a class="button" href="/word.html">Learning Words</a>
<center><h2> STEP 3</h2>
<a class="button" href="/test.html">Training Test</a>

